@charset "utf-8";
h1,h2,h3,h4,h5,h6,p,a,b,dl,dt,dd,ul,ol,li,strong,span,i,em,img,div,table,th,tr,td,thead,tbody,caption,tfoot,form,fieldset,legend,input,button,select,option,textarea,label,iframe,body,html,div,section,article,aside,figure,figcaption,header,footer,nav,footer,video,audio,hgroup,datalist
{margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
    color: #333;

}
ul,ol,li{
    list-style: none;
}
html,body{
    height: 100%;
}
.clear_fix::after{
content: " ";
display: block;
clear: both;
height: 0;
overflow: hidden;
visibility: hidden;
}

/* 禁止文本域拉伸  根据需要而定 */
textarea{
    resize: none;
}
input,button,textarea{
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
    width: auto\9;
    border: 0;

}


/* 背景文字设置默认颜色
某些placeholder上下不居中   调整line-height属性 */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color:#ccc;
}

/* @function vw($px){
    @return ($px/750)*100vw;
} */
