.detail .detail-title {
  background-color: #fff;
  padding: 3.2vw;
}

.detail .detail-title .h2 {
  font-weight: 700;
  max-height: none;
  color: #333;
  font-size: 4.26667vw;
  margin-bottom: 1.22667vw;
  text-align: left;
}

.detail .detail-title .item-money {
  text-align: left;
}

.detail .detail-title .item-money #price {
  color: #f66;
}

.detail .detail-title .item-money #price em {
  font-weight: 700;
  font-size: 5.86667vw;
}

.detail .detail-title .item-money .cr6 {
  color: #666;
}

.detail .detail-title .item-card {
  text-align: left;
  font-size: 3.2vw;
}

.detail .detail-title .item-card span {
  display: inline-block;
  border: 1px solid #bbb;
  padding: 0.05333vw 1.22667vw;
  color: #666;
  margin-bottom: 1.22667vw;
  margin-right: 1.33333vw;
}

.detail .detail-title .item-brand {
  text-align: left;
}

.detail .detail-title .item-brand .bgred {
  padding: 0 0.8vw;
  border-radius: .08rem;
  margin-right: 1.33333vw;
  margin-bottom: 1.22667vw;
  font-size: 2.93333vw;
  color: #fff;
}

.detail .detail-title .item-brand p {
  display: inline-block;
}

.detail .detail-title .item-illustrate {
  text-align: left;
}

.detail .detail-title .item-illustrate .t-inner {
  color: #f66;
}

.detail .btn {
  width: 100%;
  height: 12vw;
  position: absolute;
  bottom: 13.33333vw;
  z-index: 10;
}

.detail .btn ul {
  min-height: 12vw;
  overflow: hidden;
  background: #fff;
}

.detail .btn ul li {
  width: 20vw;
  display: block;
  height: 12vw;
  line-height: 12vw;
  z-index: 1;
  float: left;
  font-size: 3.2vw;
}

.detail .btn ul li .icon-phone {
  margin-top: 1.06667vw;
  display: block;
  height: 1.33333vw;
  line-height: 1.33333vw;
  font-size: 4.8vw;
  color: #bbb;
}

.detail .btn ul li:last-child {
  width: 60vw;
  color: #fff;
  background-color: #f84;
  font-size: 4.26667vw;
}
