.detail-title {
  background-color: #fff;
  padding: 3.2vw;
}

.detail-title .h2 {
  font-weight: 700;
  max-height: none;
  color: #333;
  font-size: 4.26667vw;
  margin-bottom: 1.22667vw;
  text-align: left;
}

.detail-title .item-money {
  text-align: left;
}

.detail-title .item-money #price {
  color: #f66;
}

.detail-title .item-money #price em {
  font-weight: 700;
  font-size: 5.86667vw;
}

.detail-title .item-money .cr6 {
  color: #666;
}

.detail-title .item-card {
  text-align: left;
  font-size: 3.2vw;
}

.detail-title .item-card span {
  display: inline-block;
  border: 1px solid #bbb;
  padding: 0.05333vw 1.22667vw;
  color: #666;
  margin-bottom: 1.22667vw;
  margin-right: 1.33333vw;
}
