@function vw($px) {
    @return ($px / 750) *100vw;
}
* {
    margin: 0;
    padding: 0;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: vw(70);
    line-height: vw(70);
    // background: #364d79;
    overflow: hidden;
  }

#search{
    position: absolute;
    top: vw(280);
    right: .42rem;
    left: .42rem;
    border-radius: .09rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

#tab{
    height: vw(400);
    padding: vw(22);
    // margin-top: vw(44);
    // margin-bottom: vw(22);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#tab-list{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#tab-list figure{
    width: vw(140);
    height: vw(144);
}
#tab-list figure img{
    width: 100%;
    height: 100%;
}
