@function vw($px) {
    @return ($px / 750) *100vw;
}
* {
    margin: 0;
    padding: 0;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: vw(70);
    line-height: vw(70);
    // background: #364d79;
    overflow: hidden;
  }
#search{
    position: absolute;
    top: vw(280);
    right: .42rem;
    left: .42rem;
    border-radius: .09rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.ant-carousel:nth-of-type(2){
    padding: 0 10px 10px 10px !important;
}
#tab-list a{
    display: block;
    float: left;
    width: vw(124);
    height: vw(150);
    text-align: center;
    margin: 10.8px 7.8px 0 0;
    border-radius: .09rem;
    overflow: hidden;
    color: #333;
    font-size: .55rem;
}
#tab-list a img{
    width: 100%;
    height: vw(100);
}



