* {
  margin: 0;
  padding: 0;
}

.mine {
  width: 100%;
  height: 100%;
}

.mine .user {
  width: 100%;
}

.mine .user .imgs {
  display: block;
  width: 100%;
  height: 165px;
  background: url("../image/top-bg.png") no-repeat 0 0;
  background-size: 100% 100%;
  position: relative;
}

.mine .user .imgs .top {
  height: 78px;
  color: #fff;
  font-size: 18px;
  position: absolute;
  left: 100px;
  bottom: 40px;
}

.mine .user .imgs .top .bot {
  display: block;
  background-color: #00be88;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 1.49rem;
  font-size: 15px;
  line-height: 38px;
  color: #fff;
  margin-top: 10px;
}

.mine .mine-home {
  width: 100%;
  height: 700px;
  background-color: #ecebeb;
}

.mine .mine-home .mine-center {
  position: relative;
  margin: auto;
  width: 90%;
  height: 53px;
  background-color: #fff;
}

.mine .mine-home .mine-center .s {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #c7b28c;
  border-radius: 0 0 0 0.52rem;
  overflow: hidden;
  font-size: 13px;
  color: #fff;
}

.mine .mine-home .mine-center .ss {
  display: block;
  padding-top: 15px;
}

.mine .mine-home .mine-center .ss .sss {
  margin-right: 145px;
  font-size: 15px;
  color: #333333;
}

.mine .mine-home .mine-center .ss .ssss {
  font-size: 15px;
  color: #333333;
}

.mine .mine-home .hy {
  width: 90%;
  height: 53px;
  background-color: #fff;
  margin: auto;
  margin-top: 10px;
}

.mine .mine-home .hy .hy1 {
  display: block;
  line-height: 53px;
}

.mine .mine-home .hy .hy1 .hy2 {
  color: #333333;
  font-size: 18px;
  font-weight: 800;
  margin-right: 56px;
}

.mine .mine-home .hy .hy1 .hy3 {
  color: #bfa26a;
  font-size: 14px;
}

.mine .mine-home .dd {
  width: 90%;
  height: 154px;
  margin: auto;
  margin-top: 10px;
  background-color: #fff;
}

.mine .mine-home .dd .dd1 {
  width: 100%;
  height: 48px;
  margin: auto;
  border-bottom: 1px solid #dcdcdc;
}

.mine .mine-home .dd .dd1 .dd2 {
  line-height: 48px;
}

.mine .mine-home .dd .dd1 .dd2 .dd3 {
  margin-right: 234px;
}

.mine .mine-home .dd .tp {
  width: 100%;
  height: 100%;
  list-style: none;
}

.mine .mine-home .dd .tp li {
  width: 25%;
  text-align: center;
  float: left;
  margin-top: 10px;
  font-size: 16px;
}

.mine .mine-home .dd .tp li .tp1 {
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 24px;
  margin-top: 10px;
  background: url(../image/user-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1px 0px;
  margin-bottom: 10px;
}

.mine .mine-home .dd .tp li .tp2 {
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 24px;
  margin-top: 10px;
  background: url(../image/user-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1px -34px;
  margin-bottom: 10px;
}

.mine .mine-home .dd .tp li .tp3 {
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 24px;
  margin-top: 10px;
  background: url(../image/user-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1px -69px;
  margin-bottom: 10px;
}

.mine .mine-home .dd .tp li .tp4 {
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 24px;
  margin-top: 10px;
  background: url(../image/user-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1px -104px;
  margin-bottom: 10px;
}

.mine .mine-home .ft {
  width: 90%;
  height: 257px;
  margin: auto;
  margin-top: 10px;
  background-color: #fff;
}

.mine .mine-home .ft .ftt {
  list-style: none;
}

.mine .mine-home .ft .ftt li {
  width: 25%;
  float: left;
}

.mine .mine-home .ft .ftt li .ft1 {
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: url(../image/user-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 0px;
}
